.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px
}

.cell {
  width: 100px;
  height: 100px;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

.cell:hover {
  background-color: darkgoldenrod;
}

button {
  margin-top: 1em;
  font-size: 1em;
  padding: 1em 2em;
  cursor: pointer;
}
